@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.que_no_blue {
color: #000080;
font-size: large;
}

header {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc9c9;
}

.question {
    margin-bottom: 15px;
}



label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.questionmargin {
    border-color: #777;
    background-color: #777;
    text-align: left;
    padding-left: 20px;
    width: 350px;
    height: 30px;
    margin: 10px 5px 5px 15px;
}

/* .butalign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

} */
/* .questionmargin {
    border-color: #777;
    background-color: #777;
    text-align: left;
    padding: 10px; 
    width: 350px;
    height: 30px;
    padding-left: 30px; 
} */


